
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
@import "tailwindcss-animated";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";
@import "flowbite/src/themes/default";


@theme {

  --font-sans: "Kanit","Inter", ui-sans-serif, system-ui, sans-serif;
  --color-primary: #F5F5F5;
  --color-secondary: #3A5E98;
  --color-fontcolor: #001F3F;
  --color-btn: #001F3F;
  --color-brightblue: #0051A5;
  --color-lightblue1: #D1E0F6;
  --color-lightblue2: #ECF4FF;
}

*{
  box-sizing: border-box;
}

